{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de tarefas</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand">Lista de tarefas</a>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login_user' %}">Login</a></li>
            <li><a href="{% url 'register_user' %}">Cadastro</a></li>
            {% endif %}
            <li><a href="{% url 'todo_list' %}">Tarefas</a></li>
        </ul>
    </nav>

    <div class="home-img">
        <img src="static/img/home-img.svg"
            alt="Drawing of a man sitting programming on his notebook with a cup of coffee at his side">
    </div>          
    <div class="welcome-card card">
        <div class="card-body">
  
            <h2 id="welcome-heading" class="card-title">Bem-vindo ao nosso Gerenciador de Tarefas!</h2>
            <p class="card-text">Aqui você pode organizar suas tarefas diárias de forma simples e eficiente. Nunca mais se esqueça de uma tarefa importante!</p>
            <p class="card-text">Adicione novas tarefas, atualize seus detalhes e marque como concluídas com facilidade.</p>
        </div>
    </div>
</body>
</html>
